@charset "EUC-KR";

.login-form {
	font-family: Dotum,'돋움',Helvetica,sans-serif;
	padding-top : 40px;
	padding-left : 60px;
	padding-right : 60px;
	margin-left : 500px;
	margin-right : 500px;
	width : 600px;
}

.login_submit {
	text-align : center;
	background-color : #8db4d7;
	width : 222px;
	height : 45px;
	border-color : white;
}

